{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <table>
            <thead>
            <tr>
                <th>Disponibilité</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for availability in availabilityList %}
                <tr>
                    <td>{{ availability.label }}</td>
                    <td>
                        <a href="{{ path('admin_availability_update', {id: availability.id}) }}">Modifier</a>
                        <form method="post" action="{{ path('admin_availability_delete', {id: availability.id}) }}"
                              onsubmit="return confirm('Voulez-vous vraiment supprimer cette disponibilité ?');">
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <h3>
            {% if isEdit %}
                Modifier une disponibilité
            {% else %}
                Créer une nouvelle disponibilité
            {% endif %}
        </h3>
        {{ form_start(formAvailability, {attr: {novalidate: 'novalidate'}}) }}
        {{ form_row(formAvailability.label) }}
        <button type="submit">
            {% if isEdit %}
                Modifier la disponibilité
            {% else %}
                Ajouter une disponibilité
            {% endif %}
        </button>
        {{ form_end(formAvailability) }}
    </section>
{% endblock %}
