<div class="easyAccess-container">

    <a href="{{ path('main_alert') }}" class="easyAccess-action">
        <div class="easyAccess-logo">
            <img src="{{ asset('images/icones/appel-telephonique.png') }}" alt="">
        </div>

        <div class="easyAccess-text">
            <h3>Signaler un faon</h3>
            <p>
                Un doute ? Prévenez-nous avant toute intervention.
            </p>
        </div>
    </a>

    <a href="{{ path('shop') }}" class="easyAccess-action">
        <div class="easyAccess-logo">
            <img src="{{ asset('images/icones/boutique.png') }}" alt="">
        </div>

        <div class="easyAccess-text">
            <h3>Boutique</h3>
            <p>
                Vos commandes soutiennent nos actions sur le terrain.
            </p>
        </div>
    </a>

    <a href="{{ path('donation') }}" class="easyAccess-action">
        <div class="easyAccess-logo">
            <img src="{{ asset('images/icones/coeur.png') }}" alt="">
        </div>

        <div class="easyAccess-text">
            <h3>Faire un don</h3>
            <p>
                Votre aide nous permet d'agir durablement.
            </p>
        </div>
    </a>

</div>
