<div class="easyAccess-container">
    <div class="easyAccess-action">
        <div class="easyAccess-logo">
            <a href="{{ path('main_alert') }}">
                <img src="{{ asset('images/icons/appel-telephonique.png') }}" alt="logo alerte fauchage">
            </a>
        </div>
        <div class="easyAccess-text">
            <h3>Signaler un faon</h3>
            <p>Un doute ? Prévenez-nous
                Contactez-nous avant toute intervention.</p>
        </div>
    </div>
    <div class="easyAccess-action">
        <div class="easyAccess-logo">
            <a href="{{ path('shop') }}">
                <img src="{{ asset('images/icons/boutique.png') }}" alt="logo boutique">
            </a>
        </div>
        <div class="easyAccess-text">
            <h3>Boutique</h3>
            <p>Des achats qui ont du sens
                Vos commandes soutiennent nos actions sur le terrain.</p>
        </div>
    </div>
    <div class="easyAccess-action">
        <div class="easyAccess-logo">
            <a href="{{ path('donation') }}">
                <img src="{{ asset('images/icons/coeur.png') }}" alt="logo donation">
            </a>
        </div>
        <div class="easyAccess-text">
            <h3>Faire un don</h3>
            <p>Préserver la biodiversité
                Votre aide nous permet d’agir durablement.</p>
        </div>
    </div>
</div>
