{% extends 'base.html.twig' %}

{% block title %}Accueil - SOS Faons Bretagne{% endblock %}
{% block meta_description %}
    Découvrez SOS Faons Bretagne, une association engagée dans la protection des faons et de la faune sauvage en Bretagne.
{% endblock %}
{% block robots %}
    <meta name="robots" content="index, follow">
{% endblock %}
{#{% block canonical %}#}
{#    <link rel="canonical" href="{{ absolute_url(path('main_list')) }}">#}
{#{% endblock %}#}

{% block body %}

    <div class="post-container">
        {% for event in events %}
            <div class="post-item">
                <div class="post-photo">
                    {% if event.image %}
                        <img src="{{ asset('images/event/' ~ event.image) }}" alt="{{ event.image }}">
                    {% else %}
                        <span>Image indisponible</span>
                    {% endif %}
                </div>
                <div class="post-description">

                    <h1>{{ event.name }}
                        <span class="post-item-date">(
                            <span class="post-item-type">{{ event.type }}</span> du {{ event.eventDate | date('d/m/Y') }})
                        </span>
                    </h1>
                    <p>{{ event.description | replace({'\\n':'<br>'}) | raw }}</p>

                    {% if is_granted ("ROLE_ADMIN") %}
                        <span>
                                    {% if event.isPublished %}
                                        Publié
                                    {% else %}
                                        Enregistré
                                    {% endif %}
                        </span>
                        <a href="{{ path('event_modify', {'id' : event.id}) }}">
                            <button class="post-list-action" id="event-mod"
                                    onclick="return confirm('Etes-vous sûr de vouloir modifier ce post ?')">
                                Modifier
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
