<nav>
    <a href="{{ path('main_home') }}">
        <img src="{{ asset('images/Logo (1).svg') }}" alt="logo sos foans Bretagne">
    </a>
    <ul>
        <li>Boutique</li>
        <li>Panier</li>
        <li>Connection</li>
    </ul>
    <ul>
        <li><a href="{{ path('main_home') }}">Accueil</a></li>
        <li><a href="{{ path('main_about') }}">A propos</a></li>
        <li><a href="{{ path('main_actions') }}">Actions</a></li>
        <li><a href="{{ path('main_contact') }}">Contact</a></li>
        <li><a href="{{ path('main_galerie') }}">Galerie</a></li>
        <li><a href="{{ path('donation') }}">Faire un don</a></li>
    </ul>
</nav>
