<nav>
    <div class="nav-image">
        <div class="nav-overlay">
            <div class="nav-top">
                <div class="nav-logo">
                    <a href="{{ path('main_home') }}">
                        <img src="{{ asset('images/LogoSOSFaonsBretagne.svg') }}" class="logo"
                             alt="logo SOS Faons Bretagne">
                    </a>
                </div>
                <div class="nav-menu">
                    <div class="nav-menu-top">
                        <ul>
                            <li><a title="Accès à la boutique" href="{{ path('shop') }}"><img class="menu-icon"
                                                                                              src="{{ asset('images/icones/shop.png') }}"
                                                                                              alt="Boutique"></a></li>
                            <li><a title="Panier" href="{{ path('cart_index') }}"><img class="menu-icon"
                                                                                       src="{{ asset('images/icones/caddie.png') }}"
                                                                                       alt="Panier"></a></li>
                            {% if app.user %}
                                <li><a title="Déconnexion" href="{{ path('app_logout') }}"><img class="menu-icon"
                                                                                                src="{{ asset('images/icones/logout.png') }}"
                                                                                                alt="Déconnexion"></a>
                                </li>
                                <li><a title="Profil utilisateur" href="{{ path('user_profile') }}"><img
                                            class="menu-icon" src="{{ asset('images/icones/profile.png') }}"
                                            alt="Mon profil"></a></li>
                            {% else %}
                                <li><a title="Connexion" href="{{ path('app_login') }}"><img class="menu-icon"
                                                                                             src="{{ asset('images/icones/login.png') }}"
                                                                                             alt="Connexion"></a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="nav-menu-bottom">
                        <ul class="top-menu">
                            <li><a href="{{ path('main_home') }}">Accueil</a></li>
                            <li><a href="{{ path('main_about') }}">A propos</a></li>
                            <li><a href="{{ path('main_galerie') }}">Galerie</a></li>
                            <li><a href="{{ path('event_list') }}">Actualité</a></li>
                            {% if is_granted("ROLE_ADMIN") %}
                                <li>
                                    <a href="{{ path('admin_dashboard') }}">Administration</a>
                                </li>
                            {% endif %}
                            <li><a href="{{ path('donation') }}">Faire un don</a></li>
                            <li><a href="{{ path('main_alert') }}">Signaler un fauchage</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if app.request.get('_route') == 'main_home' %}
                <div class="banniere-parent">
                    <div class="nav-banniere">
                        <div class="nav-left">
                            <h1>Au cœur des prairies, des naissances passent inaperçues.</h1>
                            <p>Chaque printemps, de mai à début juillet, des faons naissent. Ils restent tapis,
                                invisibles, dans les prairies. Au moment des fauches, face aux machines, ce refuge
                                devient
                                un
                                piège. En Bretagne, notre association agit aux côtés des agriculteurs pour les repérer
                                et
                                les
                                sauver à temps.</p>
                        </div>
                        <div class="nav-right">
                            <a href="{{ path('donation') }}" class="nav-button nav-don" data-back="Faire un don"
                               data-front="Faire un don"></a>
                            <a href="{{ path('main_alert') }}" class="nav-button nav-alert"
                               data-back="Signaler un fauchage" data-front="Signaler un fauchage"></a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>


