<nav>
    <div class="nav-image">
        <div class="nav-overlay">
            <div class="nav-first">
                <ul>
                    <li><a href="{{ path('shop') }}">Boutique</a></li>
                    <li><a href="{{ path('cart_index') }}">Panier</a></li>
                    {% if app.user %}
                        <li><a href="{{ path('app_logout') }}">Se Déconnecter</a></li>
                        <li><a href="{{ path('user_profile') }}">Mon Profil</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">Connexion</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="nav-second">
                <a href="{{ path('main_home') }}">
                    <img src="{{ asset('images/LogoSOSFaonsBretagne.svg') }}" alt="logo SOS Faons Bretagne">
                </a>
                <ul>
                    <li><a href="{{ path('main_home') }}">Accueil</a></li>
                    <li><a href="{{ path('main_about') }}">A propos</a></li>
                    <li><a href="{{ path('main_galerie') }}">Galerie</a></li>

                    <li><a href="{{ path('event_list') }}">Postes</a></li>

                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="dropdown">
                            <a href="#" class="dropbtn">Administrateur</a>
                            <div class="dropdown-content">
                                <a href="{{ path('admin_userList') }}">Liste des utilisateurs</a>
                                <a href="{{ path('admin_donation') }}">Gestion des donations</a>
                                <a href="{{ path('admin_roles') }}">Gestion des roles</a>
                                <a href="{{ path('admin_availability') }}">Gestion des disponibilités</a>
                                <a href="{{ path('admin_pre_order') }}">Gestion des précommandes</a>
                                <a href="{{ path('event_create') }}">Création d'un post</a>
                                <a href="{{ path('admin_alert') }}">Gestion des signalements</a>
                                <a href="{{ path('admin_article_index') }}">Gestion des articles</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="banniere-parent">
                <div class="nav-banniere">
                    <div class="nav-left">
                        <h1>Au cœur des prairies, des naissances passent inaperçues.</h1>
                        <p>Chaque printemps, de mai à début juillet, des faons naissent. Ils restent tapis,
                            invisibles, dans les prairies. Au moment des fauches, face aux machines, ce refuge devient
                            un
                            piège. En Bretagne, notre association agit aux côtés des agriculteurs pour les repérer et
                            les
                            sauver à temps.</p>
                    </div>
                    <div class="nav-right">
                        <a href="{{ path('donation') }}" class="nav-button nav-don">Faire un don</a>
                        <a href="{{ path('main_alert') }}" class="nav-button nav-alert">Faire un signalement</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>


