{% extends 'emails/_base_email.html.twig' %}

{% block email_title %}
    Nouveau don reçu
{% endblock %}

{% block email_header %}
    <h1>Nouveau don reçu</h1>
    <p>SOS Faons Bretagne</p>
{% endblock %}

{% block email_content %}

    <p>
        Un nouveau don vient d’être validé via HelloAsso.
    </p>

    <div class="email-box">

        <p>
            <strong>Donateur :</strong><br>
            {{ donation.firstname }} {{ donation.lastname }}
        </p>

        <p>
            <strong>Email :</strong><br>
            {{ donation.email }}
        </p>

        <p>
            <strong>Montant :</strong><br>
            <span class="email-amount">
                {{ donation.amount }} €
            </span>
        </p>

        <p>
            <strong>Numéro du reçu fiscal :</strong><br>
            {{ donation.fiscalReceiptNumber }}
        </p>

        <p>
            <strong>Date :</strong><br>
            {{ donation.donationDate|date('d/m/Y H:i') }}
        </p>

    </div>

    {% if donation.donorType.value == 'entreprise' %}
        <div class="email-box">
            <p>
                <strong>Entreprise :</strong><br>
                {{ donation.companyName }}
            </p>

            <p>
                <strong>SIRET :</strong><br>
                {{ donation.companySiret }}
            </p>
        </div>
    {% endif %}

{% endblock %}

{% block email_footer %}
    Notification automatique SOS Faons Bretagne
{% endblock %}
