{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des utilisateurs</h1>

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Adresse</th>
            <th>Ville</th>
            <th>Code postal</th>
            <th>Création du compte</th>
            <th>Status</th>
            <th>Rôle</th>
            <th>Droit</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.zipcode }}</td>
                <td>{{ user.creationDate | date('d/m/Y')}}</td>
                <td>{{ user.actif }}</td>
                <td>{{ user.userRole.name }}</td>
                <td>{% if is_granted ("ROLE_ADMIN") %}
                        Administrateur
                    {% else %}
                        Utilisateur
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('admin_modify', {'id' : user.id}) }}">
                        <button class="user-list-action" id="user-mod" onclick="return confirm('Etes-vous sûr de vouloir modifier cet utilisateur ?')">
                            Modifier
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
