<footer class="footer-container">
    <a href="{{ path('main_home') }}">
        <img src="{{ asset('images/LogoSOSFaonsBretagne.svg') }}" alt="logo sos foans Bretagne">
    </a>
    <ul class="footer-nav">
        <li><a href="{{ path('main_cgu') }}" class="footer-button">Condition générales d'utilisations</a></li>
        <li><a href="{{ path('main_pdc') }}" class="footer-button">Politique de confidencialité</a></li>
        <li><a href="{{ path('main_contact') }}" class="footer-button">Contact</a></li>
    </ul>
    <div class="footer-reseau">
        <p>
            <a
                href="https://www.facebook.com/sos.faons/"
                target="_blank"
                rel="noopener noreferrer"
                class="social-link">
                <img
                    src="{{ asset('images/icones/facebook.svg') }}"
                    alt=""
                    aria-hidden="true"
                    width="20"
                    height="20">
            </a>
        </p>
        <p>
            <a
                href="https://www.instagram.com/sosfaonsbretagne/"
                target="_blank"
                rel="noopener noreferrer"
                class="social-link">
                <img
                    src="{{ asset('images/icones/instagram.svg') }}"
                    alt=""
                    aria-hidden="true"
                    width="20"
                    height="20">
            </a>
        </p>
    </div>
</footer>
