<h1>Gestion des précommandes</h1>

{% for preOrder in preOrders %}
    <div>
        <h3>Précommande #{{ preOrder.id }}</h3>

        <p>
            Client :
            {{ preOrder.user.firstname }} {{ preOrder.user.lastname }}
        </p>

        <p>Statut : {{ preOrder.status.value }}</p>
        <p>Total : {{ preOrder.totalAmount }} €</p>
        <p>Date : {{ preOrder.preOrderDate|date('d/m/Y H:i') }}</p>

        <a href="{{ path('admin_pre_order_show', { id: preOrder.id }) }}">
            Voir le détail
        </a>

        {% if preOrder.invoicePdfPath %}
            <a href="{{ path('admin_pre_order_invoice', { id: preOrder.id }) }}" target="_blank">
                Voir la facture
            </a>
        {% endif %}
    </div>
{% else %}
    <p>Aucune précommande trouvée.</p>
{% endfor %}
