{% extends 'base.html.twig' %}

{% block title %}
    Erreur {{ status_code }}
{% endblock %}

{% block body %}

    <main class="error-page">
        <section class="error-container">

            <div class="error-card">

                <img
                    src="{{ asset('images/LogoSOSFaonsBretagne.svg') }}"
                    alt="Logo SOS Faons Bretagne"
                    class="error-logo"
                >

                <span class="error-code">
                Erreur {{ status_code }}
            </span>

                <h1>
                    Oups, une erreur s’est produite.
                </h1>

                <h2>
                    Le serveur a renvoyé l’erreur :
                    <strong>{{ status_code }} {{ status_text }}</strong>
                </h2>

                {% if app.environment == 'dev' and exception is defined and exception.message is not empty %}
                    <div class="error-debug">
                        {{ exception.message }}
                    </div>
                {% endif %}

                <p>
                    Quelque chose ne fonctionne pas correctement.
                    Vous pouvez nous contacter à
                    <a href="mailto:contact@sosfaonsbretagne.fr">
                        contact@sosfaonsbretagne.fr
                    </a>
                    en nous indiquant ce que vous faisiez lorsque cette erreur est apparue.
                </p>

                <a href="{{ path('main_home') }}" class="error-button">
                    Retour au site
                </a>

            </div>

        </section>
    </main>

{% endblock %}
