{% extends 'emails/_base_email.html.twig' %}

{% block email_title %}
    Nouvelle précommande reçue
{% endblock %}

{% block email_header %} <h1>Nouvelle précommande reçue</h1> <p>SOS Faons Bretagne</p>
{% endblock %}

{% block email_content %}

    ```
    <p>
        Une nouvelle précommande vient d'être enregistrée sur le site.
    </p>

    <div class="email-box">

        <p>
            <strong>Client :</strong><br>
            {{ preOrder.user.firstname }}
            {{ preOrder.user.lastname }}
        </p>

        <p>
            <strong>Email :</strong><br>
            {{ preOrder.user.email }}
        </p>

        <p>
            <strong>Date :</strong><br>
            {{ preOrder.preOrderDate|date('d/m/Y H:i') }}
        </p>

    </div>

    <h2>Détail de la précommande</h2>

    <table class="email-table">

        <thead>
        <tr>
            <th>Article</th>
            <th>Diamètre</th>
            <th>Quantité</th>
            <th>Total</th>
        </tr>
        </thead>

        <tbody>

        {% for item in preOrder.preOrderItems %}
            <tr>
                <td>{{ item.article.name }}</td>
                <td>
                    {% if item.diameter %}
                        {{ item.diameter.value }} mm
                    {% else %}
                        Aucun
                    {% endif %}
                </td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.totalPrice }} €</td>
            </tr>
        {% endfor %}

        </tbody>

    </table>

    <div class="email-box">

        <strong>Montant total de la précommande</strong><br>

        <span class="email-amount">
        {{ preOrder.totalAmount }} €
    </span>

    </div>
    ```

{% endblock %}

{% block email_footer %}
    Notification automatique SOS Faons Bretagne
{% endblock %}
