{% extends 'emails/_base_email.html.twig' %}

{% block email_title %}
    Paiement confirmé
{% endblock %}

{% block email_header %}
    <h1>Paiement confirmé</h1>
    <p>SOS Faons Bretagne</p>
{% endblock %}

{% block email_content %}

    <div class="email-box">
        Un paiement de précommande vient d'être confirmé via HelloAsso.
    </div>

    <h2>Informations du client</h2>

    <div class="email-box">

        <p>
            <strong>Client :</strong><br>
            {{ preOrder.user.firstname }}
            {{ preOrder.user.lastname }}
        </p>

        <p>
            <strong>Email :</strong><br>
            {{ preOrder.user.email }}
        </p>

    </div>

    <h2>Détail du paiement</h2>

    <table class="email-table">

        <tr>
            <th>Précommande</th>
            <td>#{{ preOrder.id }}</td>
        </tr>

        <tr>
            <th>Date du paiement</th>
            <td>{{ preOrder.paidAt|date('d/m/Y H:i') }}</td>
        </tr>

        <tr>
            <th>Montant payé</th>
            <td>
                <span class="email-amount">
                    {{ preOrder.totalAmount }} €
                </span>
            </td>
        </tr>

    </table>

{% endblock %}

{% block email_footer %}
    Notification automatique SOS Faons Bretagne
{% endblock %}
